.at-form::after {
  border: none !important;
}

.at-input {
  margin-right: 0;
  margin-left: 0;
}

.at-segmented-control {
  height: 80px !important;
  line-height: 60px;
  border-radius: 10px !important;
}

.at-modal__content {
  text-align: center;
}
