.login-container {
  display: flex;
  padding: 20px 110px;
  flex-direction: column;
  &-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    color: $themeColor;
  }
  &-text {
    margin-top: 60px;
    font-size: 48px;
    line-height: 72px;
    color: $textColorDefault;
  }
  &-sub {
    margin-top: 20px;
    font-size: 28px;
    line-height: 42px;
    color: $textColorSub;
  }
  &-icon-wrap {
    margin-top: 200px;
    margin-bottom: 50px;
    display: inline-flex;
    width: 100%;
    justify-content: center;
      &-content {
        font-size: 150px;
        color: $weChatColor;
      }
  }
}
