@import "custom-theme";

// 主题颜色
$themeColor: #3C4EEA;

// 背景颜色
$lightBackGround: #FFF;
$pageBackGround: #FAFAFA;

// 文字颜色
$textColorDefault: #202439;
$textColorSub: #566070;

// 其他颜色
$weChatColor: rgb(0,222,123);

// 图标默认颜色
$iconDefaultColor: #e0e0e0;


// ***
$orange: #FF6834;
$orangeShadow: 0 8px 16px rgba(251, 99, 32, 0.4);

$red: rgb(255, 81, 82);
$redShadow: 0 8px 16px rgba(255, 81, 82, 0.4);

$blueShadow: 0 20px 60px rgba(60, 78, 234, 0.15);
